*{
  margin:0;
  padding: 0;
}

html, body{
  min-height: 100% !important;
  height: 100%;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
  list-style:none;
}

.color{
  color: rgb(32, 168, 14);
}

#side-nav{
  width: 18%;
  background-color: rgb(23, 128, 9);
  position: fixed;
  height: 100%;
  overflow: auto;
}

#side-nav>#nav{
  text-align: center;
  margin:30px;
}

#nav>a>img{
  padding:5px;
  border: 1px solid #fff;
  border-radius:5px;
}

#side-nav ul {
  text-align: center;
}

#side-nav li a{
  display: block;
  color: #fff;
  padding: 16px 16px;
  text-decoration: none;
}

.side{
  margin-left:18%;
  padding:1px 16px;
}

#main-nav {
  height:30px;
  padding:20px;
  box-shadow:0 3px rgba(59, 59, 59, 0.767);
}

#main-nav ul li{
  margin-right:30px;
  display: inline-block;
}

#main-nav ul li:nth-child(1) img{
  width: 40px;
  height: 40px;
}

#main-nav ul li:nth-child(2){
  font-size:40px;
  text-transform: capitalize;
}

#main-nav ul li:nth-child(3){
  float:right;
  font-size:20px;
}

.head-text{
  padding:40px;
  font-size:40px;
}

.head-text-2{
  padding:10px;
  font-size:20px;
}

.inline {
  display: inline-block;
}

.dates {
  float:right;
  padding: 20px;
}

.dates h4{
  margin-bottom: 5px;
}

.elections, .candidates {
  margin:40px;
}

.card{
  width:25%;
  display: inline-block;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.card>img{
  width:100%;
  height:200px;
  border-radius: 10px;
}

.card-text{
  padding:0 20px;
}

.card-text p{
  padding:10px 0;
  font-size:16px;
  font-style: italic;
}

.card-text span{
  float: right;
}

.card-btn{
  text-align: center;
  padding:10px 0;
}

.card-btn a{
  padding:8px 25px;
  background-color: rgb(32, 168, 14);
  color:#fff;
  font-size:20px;
  border-radius:10px;
  border: none;
  text-decoration: none;
}

.card-btn a:hover{
  background-color:rgb(32, 32, 32);
  cursor:pointer;
}

footer {
  background-color:rgba(0, 0, 0, 0.856);
  color:#fff;
  text-align: center;
}

footer .copyright{
  font-size:30px;
}

/* Login Page */
.login{
  height: 100%;
  background-image: url('../img/flag-img.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  overflow: auto;
}

.login-form{
  width: 35%;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  height: auto;
  background-color: #fff;
  position: relative;
  top:200px;
  margin:0 450px;
}

.login-form img {
  width:40px;
  height:40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
}

.login-form h2{
  text-align: center;
  padding:15px 20px;
  font-size:30px;
  width:45%;
  display:inline-block;
}

label{
  display: block;
  padding:10px;
  font-size:20px;
}

.form-group{
  padding: 10px 40px;
}

.form-input{
  width:50%;
  padding:10px;
  height: 20px;
  border-radius:10px;
  border:0.5px solid rgba(0, 0, 0, 0.5);
}

.login-form button {
  padding:15px 45px;
  background-color:  rgb(32, 168, 14);
  color: #fff;
  margin:20px 0 10px 180px;
  border-radius: 10px;
  border:none;
  transition: 0.5s all;
  font-size: 15px;
}

.login-form button:hover {
  background-color:rgb(32, 32, 32);
  cursor:pointer;
  font-size: 15px;
  transform: scale(1.2);
}

.head-tab ul li {
  font-weight: bold;
}

.tab{
  margin:10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.5s all;
}

.tab:hover{
  transform: scale(1.03);
}

.tab ul li {
  display: inline-block;
  padding: 10px 10px;
  width: 150px;
}

.candidate-btn, .btn, .add-form>button{
  padding:6px 30px;
  background-color: rgb(32, 168, 14);
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  text-decoration: none;
}

.candidate-btn:hover {
  background-color: #000;
}

.btn{
  padding:12px 18px;
  float:right;
  margin-top:30px;
  margin-right: 30px;
}

.btn:hover, .add-form>button:hover{
  background-color: rgba(0, 0, 0, 0.842);
  cursor: pointer;
}

#inline {
  display: inline-block;
  width:fit-content;
}

#ongoing-election-section{
  display: block;
}

#add-election-section{
  display: none;
}

.add-form input, .add-form select{
  height: 40px;
  width: 30%;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

.add-form .form-group:nth-child(1) input{
  text-align: left;
}

.add-form button{
  padding: 15px 80px;
  margin:20px 40px;
}

.badge{
  background-color: rgb(32, 168, 14);
  color: #fff;
  border-radius: 5px;
  padding: 4px;
}

#add-candidate{
  margin-top: -55px;
  float: right;
}

#candidates-section{
  display: block;
}

#add-candidate-section{
  display: none;
}

.form-text{
  padding:20px;
}